<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Bill</title>
  </head>
  <body>
    <h1>Bill</h1>
    <div class=""></div>
    <form action="/bill" method="POST">
      <label for="productName">Product Name</label><br /><br />
      <input type="text " name="productName" /><br /><br />
      <label for="productCategory">Category</label><br /><br />
      <input type="text" name="productCategory" /><br /><br />
      <label for="productQuantity">Quantity</label><br /><br />
      <input type="number" name="productQuantity" /><br /><br />
      <input type="submit" value="submit" />
    </form>
  </body>
  <script src="app.js"></script>
</html>
